.App {
  text-align: center;
}

.react-logo{
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
